@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Roboto Condensed", sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Asegura que el video ocupe toda la pantalla */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Oculta cualquier scroll */
    font-family: Arial, Helvetica, sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás del contenido */
}

/* Asegura que el contenido se muestre sobre el video */
.content {
    position: relative;
    z-index: 1;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
}

.top-bar {
    background-color: #266371; /* Color de fondo de la franja */
    color: #fff; /* Color del texto */
    padding: 30px 0; /* Espaciado interno (10px arriba y abajo, 0 a los lados) */
    text-align: center; /* Alineación del texto */
    position: fixed; /* Posición fija */
    top: 0; /* Alineado en la parte superior */
    left: 0; /* Alineado a la izquierda */
    width: 100%; /* Ancho completo */
    z-index: 1; /* Índice z menor que otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de elevación */
}

.header{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    min-height: 100vh;
    align-items: center;
}

.icono{
    width: 20px;
    height: 20px;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 11.5%;
    margin-left: 20px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFF;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #099fa6;
}

.icons{
    display: flex;
}

.icons i{
    font-size: 25px;
    color: #FFFF;
    margin-right: 20px;
    cursor: pointer;
}

.icons i:hover{
    color: #099fa6;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}
/* Footer Styles */
footer {
    background-color: #266371;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}